.navbar {
  background-color: #f9b42c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 90px;
  font-family: "Poppins", sans-serif;
}

.nav-logo {
  position: absolute;
  left: 90px;
  font-weight: 700;
  font-size: 1.4rem;
  color: black;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 6px 14px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.nav-links a.active {
  background-color: #e6a825; /* tono más oscuro que el fondo */
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35); /* sombra difusa alrededor */
  padding: 6px 14px; /* mantiene el tamaño del botón */
}



.nav-links a:hover {

}
